@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Serif+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#winning, 
#computer,
#player {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

#winning {
    margin: .5rem 0 1rem 1rem;
    align-self: flex-start;
}

#computer {
    margin-bottom: .5rem;
}

#player {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#comp-score,
#play-score {
    color: gold;
}

button {
    border: 1px solid black;
}

#container {
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
}

.placeholder {
    width: 150px;
    height: 208px;
    border: 1px solid black;
    border-radius: 9px;
    margin: 0.5rem 0;
    background-color: hsl(128, 70%, 25%);
}

.placeholder img {
    width: 149px;
    height: 207px;
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(128, 80%, 25%);
    width: 550px;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}

#decks {
    display: flex;
    align-items: center;
}
#decks h2 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: white;
}

#cardsRemaining {
    color: gold;
}

#draw,
#new-deck {
    color: hsl(128, 70%, 25%);
    font-size: 1rem;
    padding: .5em 1em;
    font-weight: bold;
    align-self: center;
}

#new-deck {
    width: 200px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
#draw {
    width: 450px;
    margin-bottom: 1rem;
}

.visible {
    background-color: gold;
    cursor: pointer;
}

.blend {
    background-color: hsl(128, 80%, 25%);
    cursor: not-allowed;
}